PORT=3001

DB_SERVER=localhost\SQLEXPRESS
DB_PORT=1433
DB_DATABASE=SIGOT_FTTH_ENTREGA
DB_USER=sa
DB_PASSWORD=CAMBIAR_PASSWORD

DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

JWT_SECRET=CAMBIAR_POR_UNA_CLAVE_SEGURA
JWT_EXPIRES_IN=8h